.platform-mac,
:host-context(.platform-mac),
:root {
  font-family: "Inter var", Inter, sans-serif !important;
  font-size: 11px !important;

  --monospace-font-size: 11px !important;
  --monospace-font-family: "JetBrains Mono" !important;
  --source-code-font-size: 11px !important;
  --source-code-font-family: "JetBrains Mono" !important;
}

.tabbed-pane-header-tab {
  justify-content: center;
}

.source-code {
  font-weight: 400 !important;
}
